/******NAVIGATION BAR********/
nav {
	background-color: #00ffcc;
	text-align: center;
}
nav ul {
  width: 100%;
  display: inline-block;
  overflow: hidden;
}
nav ul li {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  padding: 10px; 
  font-size: 30px ;/
  color:#000000;
  font-family: 'Courier', sans-serif;
}
/********INDEX********/
/* this is needed to center the navigation bar*/
.resumebody {
 	max-width: 960px;
    text-align: center;
	background-color: #00ffcc;
	font-size: 1em;
    top: 0;
 }

.mainpage{
 	min-width: 960px;
    text-align: center;
	background-color: #00ffcc;
	font-size: 1em;
    top: 0;
}
.Project, .Goals, .Aboutme{
	color: red;
    font-size: 25px;
    font-style: normal; 
    text-align: center;
    background-color: #00ffcc;

}
.Project2{
	text-align: center;
	color: red;
    font-size: 30px;
    font-style: normal;
}
div .Goals ul li {
	font-size: 1.5em;
	text-align: center;
	margin: auto;
	padding: 0;
	background-color: #00ffcc;
}
nav .project{
  font-size: 100%;
  text-align: center;
  margin: auto;
  position: relative;
  max-width: 960px;
}
div .mainpage h3{
  font-size: 200%;
  text-align: center;
  margin: auto;
}
div .mainpage ul li {
	font-size: 140%
	text-align: center;
	margin: auto;
}
.css {
	margin-left:auto;
	margin-right:auto;
	float :none;
	vertical-align: middle;
}
/*******RESUME*****/
}
.resumebody {
	max-width: 1024px;
	text-align: center;
	background-color: #00ffcc;
	font-size: 1em;
    top: 0;
}

.Education, .Computerskills, .Profeccient, .Work, .References{
	color:black;
	font-size: 1em;
	text-align: center;
	margin: auto;
	padding: 0;
}

/******Countries visisted****/
.wraparound {
     width: 800px;
     margin: 0 auto;
     background-color: #00ffcc;
}
nav .countries{
  font-size: 100%;
  text-align: center;
  margin: auto;
  position: relative;
  max-width: 960px;
}
.countries{
 	min-width: 960px;
    text-align: center;
	background-color: #00ffcc;
	font-size: 1em;
    top: 0;